.candidate {
    display: grid;
    background-color: var(--secondary-purple);
    width: 136.25px;
    border-radius: 15px;
    cursor: pointer;
}

.candidate-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
}

.photo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-width: 100px;
    max-width: 200px;
    width: 136.25px;
}

.name {
    color: var(--white);
    font-size: 12px;
}

.party {
    color: var(--white);
    font-size: 10px;
}
